extends: airbnb
env:
  node: true
  es6: true
parser: babel-eslint
plugins:
  - react
  - jsx-a11y
  - import
settings:
  import/resolver:
    node:
      extensions:
        - .js
        - .jsx
        - .android.js
        - .ios.js
globals:
  __CLIENT__: false
  __SERVER__: false
  __DEV__: false
  __PROD__: false
  it: false
rules:
  semi: [2, "never"]
  comma-dangle: 0
  no-underscore-dangle: off
  global-require: 0
  react/forbid-prop-types: 0
  react/jsx-filename-extension: [1, { "extensions": [".js", ".jsx"] }]
  react/prefer-stateless-function: [2, {"ignorePureComponents": true}]
  react/require-extension: "off"
  import/no-extraneous-dependencies: [0, {"devDependencies": false, "optionalDependencies": false, "peerDependencies": false}]
  class-methods-use-this: 0
